.left-sidebar{
    position:fixed;
    top:0;
    left:0;
    width:400px;
    bottom:0;
    background-color:black;
}
.lefticons{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    padding-top:6px;
}
.twitterlogo{
    width:35px;
}
.subicons{
display:flex;
flex-direction:row;
padding:10px;
position:relative;
}
.subicons img{
    width:35px;
    margin-right:15px;
   
}

.absoluteicons p{
    font-size:20px;
    font-weight:bold;
    position:absolute;
    bottom:15px;
}
.left-tweet{
    width:200px;
    height:50px;
    background-color:rgb(29, 155, 240);
    border-radius:50px;
    font-size:20px;
    font-weight:solid;
    color:white;
    position:absolute;
    bottom:125px;
    right:30px;
}
.login{
    display:flex;
    flex-direction:row;
    position:absolute;
    bottom:50px;
    right:90px;
}
.loginname{
    font:25px;
    font-weight:bold;
    padding:10px;
}
.loginuser{
    color:rgb(100, 101, 101);
    font-weight:normal;
}
